body{
  margin: 0;
  background-image: url(./img/Pasted\ Graphic.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.openbtn1{
  display:none;
}


#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
top:-120%;
  left:0;
width:100%;
  height: 100vh;/*ナビの高さ*/
background:rgb(255, 255, 255);
  /*動き*/
transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  top: 0;
}
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding-left: 0;
}

/*リストのレイアウト設定*/

#g-nav li{
list-style: none;
  text-align: center; 
}

#g-nav li a{
color: rgb(2, 82, 17);
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-size: 7vw;
font-weight: bold;
margin-left: auto;
margin-right: auto;
margin-bottom: 3vh;
}

.openbtn1{
  position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
  top:10px;
  /* right: 10px; */
  cursor: pointer;
    width: 50px;
    height:50px;
}

.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background-color: rgb(235, 208, 2);
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
top:15px; 
}

.openbtn1 span:nth-of-type(2) {
top:23px;
}

.openbtn1 span:nth-of-type(3) {
top:31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}


.first-container{
  padding-bottom: 400px;
  /* background-image: url(./img/Pasted\ Graphic.png);
  min-height: 150vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
}

.big-header{
  font-size: 8vw;
}

a{
  font-weight: bolder;
  display: inline-block;
  color: rgba(255, 204, 0, 1);
  text-decoration: none;
  text-shadow: 0.5px 0.5px 0.5px #000000ae;
  padding: 10px;
  margin-left: 20px;
  font-size: 3vw;
}

a:hover{
  color:  #fff;
  transition: 0.5s;
}

.top-header> h1,h2,p{
  color: #fff;
  text-shadow: 10px 10px 15px #000000ae;
}

.text>p{
  text-shadow: 0 0 0 ;
  font-weight: bolder;
}

.green-button{
  background-color: rgb(3, 144, 24);
  color: rgb(255, 255, 255);
  padding: 15px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  text-shadow: 1px 2px 3px #000000ae;
  font-weight: bold;
  font-size: larger;
  border: 0;
  box-shadow: 10px 20px 50px #000000ae
}

.green-button:hover{
  background-color:  rgb(1, 217, 5);
  transition: 0.5s;
}


.first-text{
  margin-top: 200px;
  text-align: center;
}

.flecon{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  font-size: 5vh;
}

.first-text>h2{
  font-size: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.first-text>p{
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  font-weight: bolder;
}

.logo{
  position: fixed;
  right: 0px;
  top: 0px;
  width: 30%;
  z-index: 10;
  
}

.second-container{
  background-color: rgba(255, 204, 0, 1);
  padding-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  border-radius: 100px;
  box-shadow: 10px 20px 50px #000000ae;
}

.number1,.number2,.number3{
  font-size: 10vw;
  position: relative;
  top: -100px;
  padding: 10px;
  text-shadow: 1px 2px 3px #000000ae;
}

.image1,.image2,.image3{
  width: 80%;
  object-fit: cover;
  display: block;
  box-shadow: 10px 20px 50px #000000ae;
}

.contena{
  display: flex;
  width: 70%;
  padding-top: 30px;
  margin-top: 100px;
}

.contena1{
  margin-left: auto;
  margin-right: 5%;
}

.contena2{
  margin-right: auto;
  margin-left: 5%;
}

.text{
  position:relative;
}

.text>p{
  font-size: 20px;
  color: black;
  position: absolute;
  width: 300px;
}

.contena1>.text>p{
  left: -200px;
  top: 200px;
}

.contena2>.text>p{
  right: -200px;
  top: 200px;
}

.information{
  /* background-image: url(./img/Pasted\ Graphic\ 5.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
  width: 100vw;
  position: relative;
}

.box-container{
  display: flex;
  justify-content: space-evenly;
  margin-right: 10%;
  margin-left: 10%;
}

.information>h1{
  text-align: center;
  color: #fff;
  text-shadow: 1px 2px 3px #000000ae;
  padding-top: 200px;
  font-size: 50px;
}

.box{
  width: 25%;
  margin-bottom: 250px;
}

.third-container{
  /* background-image: url(./img/Pasted\ Graphic\ 4.png); */
  background-size: cover;
  background-position: center;
  padding-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.yellow-text{
  text-align: center;
  height:max-content;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.circle{
  width: 60vw;
  height: 60vw;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 204, 0, 1);
  border-radius: 50%;
  position: relative;
  box-shadow: 10px 20px 50px #000000ae;
}

.yellow-text:hover{
  text-shadow: 1px 2px 4px #000000ae;
  transition: 0.5s;
}

.yellow-text>h1{
  color: rgb(0, 0, 0);
  font-size: 7vw;
  font-weight:bold
}

.yellow-text>p{
  color: rgb(0, 0, 0);
  text-shadow: 0 0 0;
  font-weight: bolder;
}

.forth-container{
  padding-top: 10px;
  text-align: center;
  padding-bottom: 100px;
}

.button2{
  margin-left: 0;
}

footer{
  height: 100px;
  background-color:#fff;
  box-shadow: 0 -100px 200px;
  padding: 70px;
  padding-top: 15px;
  padding-bottom: 20vh;
  display: flex;
  justify-content: space-between;
}

.footer-link>a{
  font-size: 25px;
  color: black;
  text-shadow: 1px 1px 1px rgb(189, 189, 189);
  font-weight: bolder;
  flex-direction:row;
  display: block;
  padding: 3px;
  color: rgb(0, 0, 0);
}

.footer-link>a:hover{
  color:  rgb(5, 98, 3);
  transition: 0.5s;
}

.footer-link{
  margin-left: 8vw;
}

.wao{
  height: 100%;
}

@media(max-width:850px) {

  
.openbtn1{
  display:block;
}


  .link {
    display: none;
  }

  .big-header {
    font-size: 12vw;
    margin-top: 30vh;
}

  .link>a {
    font-size: larger;
  }

  .first-container {
    text-align: center;
  }

  .first-text{
    margin-top: 50vh;
  }

  .first-text>p{
    width: 80%;
  }

  .flex-container{
    flex-direction: column;
  }

  .rotate{
    transform: rotate(90deg);
  }

  .green-button {
    position: relative;
    width: 50%;
  }

  .contena {
    width: 100%;
    flex-direction: column;
  }

  .text>p {
    position: initial;
    top: -50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .text>.number1 {
    position: initial;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .contena2 {
    margin-left: 0;
  }

  .text>.number2 {
    position: initial;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .image2 {
    order: 3;
  }

  .text2-1 {
    order: 2;
  }

  .image1,
  .image2,
  .image3 {
    margin-left: auto;
    margin-right: auto;
  }

  .contena1 {
    margin-top: 0;
  }

  .second-container {
    padding-bottom: 100px;
  }

  .box {
    width: initial;
    margin-bottom: initial;
    margin: 70px 0;
    text-align: center;
  }



  .box-container {
    display: block;
  }

  .button2 {
    margin-left: 10vw;
  }

  .yellow-text>p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .circle{
    width: 80vw;
    height: 80vw;
  }

  .footer-link>a{
    font-size: 15px;
  }

}

@media(max-width:500px){
  .logo{
    width: 50%;
    
  }  

}